<!-- File: android/app/src/main/AndroidManifest.xml -->
<!-- Purpose: Declares the structure and permissions for the Android side of the Flutter app -->
<!-- CHANGELOG:
     [2025-05-06] Initial scaffold from flutter create . with v2 embedding confirmed.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midrangeopshub">

    <application
        android:name="${applicationName}"
        android:label="midrange_ops_hub"
        android:icon="@mipmap/ic_launcher">

        <!-- Main launcher activity that initializes Flutter engine -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Optional: The visible theme before Flutter UI renders -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Declares this as the main entry point of the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Required metadata for Flutter plugin system -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required by some Flutter plugins like ProcessTextPlugin -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>